.header {
  margin: 92px 24px 92px 24px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 7px;
}

.header__links-list-item {
  display: flex;
  gap: 33px;
  margin-left: 18px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__link_active::before {
  list-style: circle;
}

.header__logo {
  margin-right: 190px;
  padding-left: 36px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-right: 61px;
}

.cover {
  background-image: url(../images//cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 1; 
  z-index: 1; 
}

.cover__title {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 700;
  padding: 165px 50px 0 50px;
  z-index: 1;
  text-transform: uppercase;
}

.cover__title_text-one {
  font-size: 100px;
  letter-spacing: 30px;
}

.no-letter-spacing-one {
  margin-left: -23px;
}

.cover__title_text-two {
  font-size: 100px;
  margin: 9px 410px 4px 286px;
  letter-spacing: 31px;
}

.no-letter-spacing-two {
  margin-left: 27px;
} 

.cover__title_text-three {
  font-size: 100px;
  margin-left: 583px;
  margin-bottom: 126px;
  letter-spacing: 27px;
}

.no-letter-spacing-three {
  margin-left: 37px;
  margin-right: 36px;
} 

.cover__description {
  display: flex;
  align-items: center;
  padding: 0 50px 51px 81px;
}

.cover__description-text {
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-right: 78px;
  word-spacing: 18px;
  z-index: 1;
}

.bet-button {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  font-family: Raleway, sans-serif; 
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  border: 1px solid white;
  position: relative;
  z-index: 2; 
}

.lots {
  margin: 170px 24px 201px 24px;
  gap: 25px;
}

.lots__heading {
  padding-top: 178px;
  padding-left: 64px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
}

.lots__container {
  display: flex;
  gap: 25px;
  margin-left: 25px;
}

.card {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 563px;
  position: relative;
  z-index: 1; 
  background: white;
}

.background__opacity-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 1; 
  z-index: 2;
}

.card__title, .card__text, .card__text-book, .card__text-picture {
  position: relative;
  z-index: 3;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: left;
  padding: 51px 40px 0 40px;
  color: white;
}

.card__text {
  padding: 242px 40px 48px 40px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.card-link {
  text-decoration: none;
}

.overlay {
  background-color: black;
  width: 334px;
  height: 563px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__text-book {
  padding: 1px 40px 48px 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  flex-direction: column;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__text-picture {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  padding: 97px 40px 48px 40px;
}

.lots__look-more-link {
  margin: 31px 65px
}

.lots__more-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
}

.about__title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
  padding: 252px 396px 97px 382px;
}

.about__text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding: 2px 5px 0px 359px;
  height: 120px;
}

.about__text-info-one {
  line-height: 24px;
  margin-left: 25px;
  width: 90%;
  margin-bottom: 25px;
}

.about__text-info-two {
  line-height: 24px;
  margin-left: 25px;
  width: 94%;
}


.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 71px;
  margin-top: 151px;
}

.about__logo-image {
  display: flex;
  width: 141.54px;
  height: 112.55px;
  justify-content: center;
  align-items: center; 
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 378px 50px 88px 50px;
}

.address-footer-text {
  color: #000;
  text-decoration: underline;
  font-size: 18px;
}

.address-footer {
  line-height: 23px;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
}

.footer__menu {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 57px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-list-item {
  margin-right: 20px;
}

.footer__menu-link {
  text-decoration: underline;
  color: #000;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 47px;
}

.footer__social-link {
  text-decoration: none;
  color: #000;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  align-items: center;
}
